name: Publish to nuget

on:
  push:
    branches:
      - main
    paths:
      - version.props
      - .github/workflows/nuget.yml

jobs:
  nuget:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Publish NuGet
        uses: likvido/action-nuget@v1
        with:
          nuget-key: ${{ secrets.NUGET_API_KEY }}
          project: ProReception.DistributionServerInfrastructure/ProReception.DistributionServerInfrastructure.csproj
